<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>阿星的个人博客</title>
    <link rel="icon" href="./img/head.jpg">
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/axios.js"></script>
    <script src="./js/vue.js"></script>
</head>

<body>
    <header id="header" :class="{active:scrollTop}">
        <div class="container">
            <div :class="{active:scrollTop}" class="title">
                <a href="./admin.html">我的个人博客|技术博客</a>
            </div>
            <ul class="menu" :class="{active:scrollTop}">
                <li class="active"><a href="./index.html">首页</a></li>
                <li><a href="./about.html">关于</a></li>
                <li><a href="./message.html">留言</a></li>
            </ul>
            <div class="search_bar" id="search_bar">
                <input v-model="word" type="text" placeholder="输入关键词查找">
                <button @click="search">搜索</button>
            </div>
        </div>
    </header>
    <div class="content clearFix">
        <div class="content_left">
            <div class="search_result" id="search_result">

            
                    <div class="article" v-for="article in articleList">
                        <h2>
                            <a v-bind:href="article.link" class="article_title">{{article.title}}</a>
                        </h2>
                        
                        <div class="article_about"><img class="article_head" src="./img/head.jpg">发布于<span class="article_about_active">{{ handleTime(article.createdAt) }}</span> |
                            浏览(<span class="article_about_active">{{article.views}}</span>)</div>
    
                        <p class="article_content">{{article.description}}</p>
                      
                    </div>
                

            </div>

        </div>
        <div class="content_right">
            <div class="right_module" id="random_tags">
                <h2>随机标签云</h2>
                <a :href="tag.link" v-for="tag in tags"
                    v-bind:style="{color:randomColor(),fontSize:randomSize()}">{{ tag.tag }}</a>
            </div>
            <div class="right_module" id="new_hot">
                <h2>最近热门</h2>
                <ul>
                    <li v-for="title in titleList"><a v-bind:href="title.link">{{title.title}}</a></li>
                </ul>






            </div>
            <div class="right_module" id="new_comments">
                <h2>最新评论</h2>
                <ul>
                    <li v-for="comment in commentList">
                        <div>
                            <span class="comment_username">{{comment.username}}</span>
                            <span class="comment_time">{{handleTime(comment.createdAt)}}</span>
                        </div>
                        <div class="comment_content">
                            <p>
                                {{comment.content}}
                            </p>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="right_module" id="relation_blog">
                <h2>友情链接</h2>
                <span v-for="blog in blogs"><a :href="blog.link">{{blog.name}}</a></span>

            </div>
        </div>
    </div>
    <footer class="footer">
        <p><a href="www.xiaoxingdemo.cn">MySearch</a></p>
        <p><a href="./index.html">阿星的个人博客</a></p>
        <p>粤ICP备2020100716号 </p>
       
    </footer>


    <script src="./js/search.js"></script>

    <script src="./js/base.js"></script>

</body>

</html>